emacs.d/auto-save-list/
emacs.d/backups/
emacs.d/elpa/
emacs.d/.smex-items

mutt/cache/

pentadactyl/info/default/command-history
pentadactyl/info/default/local-marks
pentadactyl/info/default/registers
pentadactyl/info/default/register-ring
pentadactyl/info/default/url-marks

vim/bundle/*
vim/spell/

xmonad/history
xmonad/xmonad
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors

zsh/zhistory
