mutt/cache/
xmonad/history
xmonad/xmonad
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
pentadactyl/info/default/command-history
pentadactyl/info/default/local-marks
pentadactyl/info/default/registers
pentadactyl/info/default/register-ring
pentadactyl/info/default/url-marks
vim/autoload/pathogen.vim
